<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="row justify-content-center">
        {{>navigation}}
    </div>
    <div class="container-fluid">
        <div class="row">
            <p>name:mr coooooooooooooool</p>
        </div>
    </div>
</body>
</html>