<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
                {{>navigation}}
        </div>
    </div>
    
    <h1 class="display-3">contact us</h1>
    <h3>mail:shubhamsharma4539@gmail.com</h3>
    <h4 class="lead">101 janki nagar dhar</h4>
</body>
</html>